branca==0.4.2
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
folium==0.12.1
idna==2.10
Jinja2==3.0.1
MarkupSafe==2.0.1
neofetch-win==1.1.5.1
numpy==1.21.0
Pillow==8.2.0
psutil==5.8.0
pycodestyle==2.7.0
pyngrok==5.0.5
pypiwin32==223
pywin32==301
PyYAML==5.4.1
requests==2.25.1
toml==0.10.2
urllib3==1.26.6
win10toast==0.9
